<div class="sidebar">
    <div class="sidebar-header">
        <img alt="" src="assets/public/logo.svg" />
        <h2>MedsVoice AI</h2>
    </div>

    <!-- MENU SECTION -->
    <div class="section-title">
        <span>MENU</span>
    </div>
    <div class="menu">
        <ul>
            <li class="liDashboard" routerLinkActive="active" routerLink="/dashboard/dashboard-page">
                <img alt="" src="assets/public/dashIcon.svg" class="imgIcon" />
                <span>Dashboard</span>
            </li> 
            <li class="liAgents" routerLinkActive="active" routerLink="/dashboard/agent-page" >
                <img alt="" src="assets/public/agentIcon.svg" class="imgIcon" />
                <span>Agents</span>
            </li>
            <li class="liHistory" routerLinkActive="active" routerLink="/dashboard/call-history-page">
                <img alt="" src="assets/public/CHIcon.svg" class="imgIcon" />
                <span>Call History</span>
            </li>
            <li class="liKnow">
                <img alt="" src="assets/public/CHIcon.svg" class="imgIcon" />
                <span>Knowledge Base</span>
            </li>
            <li class="liPlans">
                <img alt="" src="assets/public/planIcon.svg" class="imgIcon" />
                <span>My Plans</span>
            </li>
        </ul>
    </div>

    <!-- LATEST AGENTS SECTION -->
    <div class="section-title">
        <span>RECENT CALLS</span>
    </div>
    <div class="latest-agents">
        <div class="agent-icon">
            <img src="assets/public/latestAgent.svg" alt="Latest Agents">
        </div>
    </div>
    <br />
    <div class="latest-agents call-list">
        <div class="agent-list">
            <div class="recentCalls">
                <div class="avatarIcon">M</div>
                <div class="nameCall">Quin Caller</div>
            </div>
            <div class="recentCalls">
                <div class="avatarIcon">M</div>
                <div class="nameCall">Mary Assistant1</div>
            </div>
            <div class="recentCalls">
                <div class="avatarIcon">M</div>
                <div class="nameCall">Mary Assistant2</div>
            </div>
            <div class="recentCalls">
                <div class="avatarIcon">M</div>
                <div class="nameCall">Mary Assistant3</div>
            </div>
            <div class="recentCalls">
                <div class="avatarIcon">M</div>
                <div class="nameCall">Mary Assistant4</div>
            </div>
            <div class="recentCalls">
                <div class="avatarIcon">M</div>
                <div class="nameCall">Mary Assistant5</div>
            </div>
        </div>
    </div>
    <div class="line-div"></div>

    <!-- OTHERS SECTION -->
    <div class="section-title">
        <span>OTHERS</span>
    </div>
    <div class="settings">
        <ul>
            <li>
                <img alt="" src="assets/public/settingIcon.svg" />
                <span>Settings</span>
            </li>
        </ul>
        <div class="user-profile">
            <img class="userimg" src="assets/public/profileImg.svg" alt="User Profile">
            <div class="profileDetail">
                <span>Vishnu Swaroop</span>
                <p>Vishnu.Swarail.com</p>
            </div>
            <img src="assets/public/dropdownIcon.svg" class="dropdownIcon">
        </div>
    </div>
</div>